# sqliteプログラム
## *
テーブルの生成とデータの挿入を行うSQL文を一気に実行する。conn.cursor()で、データベースを操作するカーソルを取得した上で、cur.executescript()メソッドを実行する。もし一文ずつ実行する場合は、execute()メソッドを利用できる。ただし、SQLを実行しても、データベースにデータが即時反映されるわけではない。commit()メソッドを実行して初めて反映される。

In [1]:
import sqlite3

# sqliteのデータベースに接続
dbpath = "test.sqlite"
conn = sqlite3.connect(dbpath)

# テーブルを作成し、データを挿入する---*
cur = conn.cursor()
cur.executescript("""
/* itemsテーブルがすでにあれば削除する */
DROP TABLE IF EXISTS items;

/* テーブルの作成 */
CREATE TABLE items(
    item_id INTEGER PRIMARY KEY,
    name TEXT UNIQUE,
    price INTEGER
);

/* データ挿入 */
INSERT INTO items(name, price)VALUES('Apple', 800);
INSERT INTO items(name, price)VALUES('Orange', 780);
INSERT INTO items(name, price)VALUES('Banana', 430);
""")
# 上記の操作をデータベースに反映させる
conn.commit()

# データを抽出する
cur = conn.cursor()
cur.execute("SELECT item_id,name,price FROM items")
item_list = cur.fetchall()
# 1行ずつ表示
for it in item_list:
    print(it)

(1, 'Apple', 800)
(2, 'Orange', 780)
(3, 'Banana', 430)

## *
execute()メソッドの第二引数?

In [2]:
import sqlite3

# データベースに接続
filepath = "test2.sqlite"
conn = sqlite3.connect(filepath)

# テーブルを作成
cur = conn.cursor()
cur.execute("DROP TABLE IF EXISTS items")
cur.execute(""" CREATE TABLE items (
    item_id INTEGER PRIMARY KEY,
    name    TEXT,
    price   INTEGER)""")
conn.commit()

# 単発でデータ挿入
cur = conn.cursor()
cur.execute(
    "INSERT INTO items (name,price) VALUES (?,?)",
    ("Orange", 520))
conn.commit()

# 連続でデータ挿入
cur = conn.cursor()
data = [("Mango", 770), ("Kiwi", 400), ("Grape", 800)]
cur.executemany(
    "INSERT INTO items(name,price) VALUES (?,?)", data)
conn.commit()

# 400~700円のデータを抽出して表示
cur = conn.cursor()
price_range = (400, 700)
cur.execute(
    "SELECT * FROM items WHERE price>=? AND price<=?",price_range)
fr_list = cur.fetchall()
for fr in fr_list:
    print(fr)

(1, 'Orange', 520)
(3, 'Kiwi', 400)